<a href="https://colab.research.google.com/github/lidimoura/challenge1-data-science-Alura-Store/blob/main/AluraStoreBrasil.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importação dos dados

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_1.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science/refs/heads/main/base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

### Breve análise de cada dataframe com head()

In [3]:
# Breve análise de cada data frame com head()
loja2.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Cadeira de escritório,moveis,378.20,20.421138,04/08/2021,Thiago Silva,MG,1,boleto,1,-18.10,-44.38
1,Pandeiro,instrumentos musicais,102.37,3.035334,26/11/2020,Bianca Santos,RJ,3,cartao_credito,4,-22.25,-42.66
2,Cama king,moveis,591.13,31.759020,22/10/2021,Thiago Silva,SC,5,cartao_credito,10,-27.45,-50.95
3,Cama king,moveis,1208.24,61.919584,04/05/2022,Larissa Alves,RS,5,cartao_credito,10,-30.17,-53.50
4,Cadeira de escritório,moveis,530.41,25.827176,26/02/2022,Lucas Oliveira,SP,4,cartao_credito,3,-22.19,-48.79

In [4]:
loja3.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Secadora de roupas,eletrodomesticos,1713.50,88.823159,17/12/2021,Camila Ribeiro,CE,4,cartao_credito,4,-5.20,-39.53
1,Cômoda,moveis,386.81,18.180908,10/02/2021,Larissa Alves,RS,3,cartao_credito,1,-30.17,-53.50
2,Violão,instrumentos musicais,404.62,23.197592,22/01/2023,Lucas Oliveira,SP,5,cartao_credito,3,-22.19,-48.79
3,Bola de vôlei,esporte e lazer,78.40,4.463341,22/03/2022,Pedro Gomes,BA,4,cartao_credito,6,-13.29,-41.71
4,Guarda roupas,moveis,694.76,34.578319,12/01/2022,Bianca Santos,SP,1,cartao_credito,1,-22.19,-48.79

In [5]:
loja4.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Lava louças,eletrodomesticos,1446.46,74.604083,11/11/2022,Rafael Costa,SP,4,cartao_credito,3,-22.19,-48.79
1,Cama box,moveis,631.70,33.919251,03/01/2020,Thiago Silva,GO,5,cartao_credito,2,-15.98,-49.86
2,Bola de basquete,esporte e lazer,31.54,0.000000,25/12/2022,Larissa Alves,MG,5,boleto,1,-18.10,-44.38
3,Modelagem preditiva,livros,76.93,1.680730,23/11/2021,Lucas Oliveira,MG,3,boleto,1,-18.10,-44.38
4,Fone de ouvido,eletronicos,185.14,7.442587,25/04/2022,Bianca Santos,SP,4,cartao_credito,7,-22.19,-48.79

### Breve análise de cada datraframe com info()

In [6]:
loja.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [7]:
loja2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [8]:
loja3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2359 non-null   object
 1   Categoria do Produto    2359 non-null   object
 2   Preço                   2359 non-null   float64
 3   Frete                   2359 non-null   float64
 4   Data da Compra          2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Local da compra         2359 non-null   object
 7   Avaliação da compra     2359 non-null   int64
 8   Tipo de pagamento       2359 non-null   object
 9   Quantidade de parcelas  2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [9]:
loja4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2358 entries, 0 to 2357
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Produto                 2358 non-null   object
 1   Categoria do Produto    2358 non-null   object
 2   Preço                   2358 non-null   float64
 3   Frete                   2358 non-null   float64
 4   Data da Compra          2358 non-null   object
 5   Vendedor                2358 non-null   object
 6   Local da compra         2358 non-null   object
 7   Avaliação da compra     2358 non-null   int64
 8   Tipo de pagamento       2358 non-null   object
 9   Quantidade de parcelas  2358 non-null   int64
 10  lat                     2358 non-null   float64
 11  lon                     2358 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.2+ KB

## Unificação de todas as lojas num só dataframe e tratamento de dados
Unificando todas as lojas num único dataframe já que tem a mesma estrutura e realizando pequenos ajustes técnicos para facilitar a análise.

In [10]:
# Adicionando uma coluna 'Loja' em cada dataframe para identificar a origem dos dados após a unificação
loja['Loja'] = 'Loja 1'
loja2['Loja'] = 'Loja 2'
loja3['Loja'] = 'Loja 3'
loja4['Loja'] = 'Loja 4'

# Unificação dos dados concatenando os 4 dataframes em um único chamado 'df' e usando o parâmetro ignore_index=True para evitar indíces duplicados
df = pd.concat([loja, loja2, loja3, loja4], ignore_index=True)

# Verificação exibindo 5 amostras aleatórias para garantir que as lojas foram misturadas corretamente
display(df.sample(5))

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja
2753,Dinossauro Rex,brinquedos,22.04,0.000000,20/07/2020,Lucas Oliveira,RJ,3,cupom,1,-22.25,-42.66,Loja 2
6589,Panela de pressão,utilidades domesticas,82.19,1.960809,03/08/2020,João Souza,PE,4,cartao_credito,3,-8.38,-37.86,Loja 3
5108,Faqueiro,utilidades domesticas,57.71,3.759896,31/10/2021,João Souza,SP,4,boleto,1,-22.19,-48.79,Loja 3
161,Copo térmico,esporte e lazer,39.36,9.897811,18/12/2020,Pedro Gomes,SP,5,cartao_credito,5,-22.19,-48.79,Loja 1
7779,Boneca bebê,brinquedos,50.33,0.000000,31/05/2021,Thiago Silva,SP,4,cartao_credito,5,-22.19,-48.79,Loja 4

In [11]:
# Diagnóstico de qualidade para garantir que não há nenhum item nulo
print(' Quandidade de nulos ')
display(df.isnull().sum())

# Verificando se há itens duplicados
duplicados = df.duplicated().sum()
print(f'Linhas duplicads encontradas: {duplicados}')

 Quandidade de nulos

Produto                   0
Categoria do Produto      0
Preço                     0
Frete                     0
Data da Compra            0
Vendedor                  0
Local da compra           0
Avaliação da compra       0
Tipo de pagamento         0
Quantidade de parcelas    0
lat                       0
lon                       0
Loja                      0
dtype: int64

Linhas duplicads encontradas: 0

In [11]:
# Ajustando datas para que o pandas entenda que a coluna 'Data da Compra' é tempo, não texto e usando o dayfirst=True pra garantir o formato brasileiro que é Dia/Mês/Ano
df['Data da Compra'] = pd.to_datetime(df['Data da Compra'], dayfirst=True)

# Criando colunas temporais (para análises futuras) Isso permitirá avaliar melhor o faturamento em cada período
df['Ano'] = df['Data da Compra'].dt.year
df['Mes'] =  df['Data da Compra'].dt.month

# Arredondado valores financeiros
df[['Preço', 'Frete']] = df[['Preço', 'Frete']].round(2)

# Verificação final
display(df.sample(5))

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon,Loja,Ano,Mes
6668,Violão,instrumentos musicais,466.64,22.43,2020-03-02,Juliana Costa,RS,5,cartao_debito,1,-30.17,-53.50,Loja 3,2020,3
6962,Cama king,moveis,944.93,47.90,2023-02-06,Bianca Santos,BA,1,cartao_credito,2,-13.29,-41.71,Loja 3,2023,2
5413,Bateria,instrumentos musicais,988.45,50.22,2021-10-16,Camila Ribeiro,MG,3,cartao_credito,8,-18.10,-44.38,Loja 3,2021,10
8142,Bicicleta,esporte e lazer,990.89,54.41,2022-02-24,Camila Ribeiro,DF,4,boleto,1,-15.83,-47.86,Loja 4,2022,2
5491,Headset,eletronicos,102.15,5.72,2021-09-21,Isabella Pereira,SP,4,cartao_credito,1,-22.19,-48.79,Loja 3,2021,9

In [14]:
## Importando as outras bibliotecas que serão usadas
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Análise do faturamento

# 2. Vendas por Categoria

# 3. Média de Avaliação das Lojas

# 4. Produtos Mais e Menos Vendidos

# 5. Frete Médio por Loja